
@{
    ViewData["Title"] = "BookingHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booking History</h1>
<p>Here, you can view the list of previous bookings you have made that have been fufilled!</p>

<div>
    <table id="bookings" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tour Name</th>
                <th>Tour Description</th>
                <th>Tour Guide</th>
                <th>Country</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Date Booked</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#bookings").DataTable({
                ajax: {
                    url: "/api/bookedtours/getbookinghistory/",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "tour",
                        render: function (data, type, tour) {
                            return "<a href='/tours/details/" + data.id + "'>" + data.name + "</a>";
                        }
                    },
                    {
                        data: "tour.description",
                        render: function (data) {
                            return "<button class='btn-link js-viewdesc' data-desc='" + data + "'>View Description</button>"
                        }
                    },
                    {
                        data: "tour.user.fullName"
                    },
                    {
                        data: "tour.country"
                    },
                    {
                        data: "tour.startLocation"
                    },
                    {
                        data: "tour.endLocation"
                    },
                    {
                        data: "tour.startDate"
                    },
                    {
                        data: "tour.endDate"
                    },
                    {
                        data: "tour.price"
                    },
                    {
                        data: "dateBooked"
                    }


                ]


            });

            $("#bookings").on("click", ".js-viewdesc", function () {
                var viewDescBtn = $(this);
                bootbox.alert(viewDescBtn.attr("data-desc"));

            });



        });



    </script>



}

