
@{
    ViewData["Title"] = "CreatedTours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Created Tours</h1>

<div>
    <table id="tours" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tour Name</th>
                <th>Tour Description</th>
                <th>Country</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Tour Capacity</th>
                <th>Slots Remaining</th>
                <th>View Participants</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>

    <div id="hidden-container" style="display:none">
        <table class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Send PM</th>
                </tr>
            </thead>


        </table>

    </div>

</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#tours").DataTable({
                ajax: {
                    url: "/api/owntours",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, tour) {
                            return "<a href='/tours/edit/" + tour.id + "'>" + tour.name + "</a>";
                        }
                    },
                    {
                        data: "description"
                    },
                    {
                        data:"country"
                    },
                    {
                        data:"startLocation"
                    },
                    {
                        data:"endLocation"
                    },
                    {
                        data:"startDate"
                    },
                    {
                        data:"endDate"
                    },
                    {
                        data:"price"
                    },
                    {
                        data:"tourCapacity"
                    },
                    {
                        data:"tourAvailability"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-viewusers' data-tour-id=" + data + ">View Participants</button>"
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-tour-id=" + data + ">Delete</button>"
                        }
                    }

                ]


            });


            $("#tours").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this tour?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/owntours/" + button.attr("data-tour-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }

                });

            });

            $("#tours").on("click", ".js-viewusers", function () {
                var button = $(this);

                var container = $("#hidden-container").clone();
                container.find('table').attr('id', 'users');

                var box = bootbox.dialog({
                    show: false,
                    message: container.html(),
                    title: "Participants",
                    buttons: {
                        ok: {
                        label: "Message All",
                        className: "btn-primary",
                        callback: function() {
                            console.log('OK Button');
                        }
                        },
                        cancel: {
                        label: "Close",
                        className: "btn-default"
                        }
                    }
                });
      
                box.on("shown.bs.modal", function() {
                    $('#users').DataTable({
                        ajax: {
                            url: "/api/owntours/tourparticipants/" + button.attr("data-tour-id"),
                            dataSrc: ""
                         },

                        columns: [
                            {
                                data: "userName"
                                
                            },
                            {
                                data: "fullName"
                            },
                            {
                                data: "userName",
                                render: function (data) {
                                    return "<button class='btn-link js-sendpm' data-pm-id=" + data + ">Send PM</button>"
                                }
                            }

                        ]


                    }); 

                });

                $("#users").on("click", ".js-sendpm", function () {
                    var button = $(this);

                    window.location.replace("/messages/compose/" + button.attr("data-pm-id"));

                });



      
                    box.modal('show'); 
            });


               

           

        });



    </script>



}