
@model PickNTour.ViewModels.SendMessageFormViewModel

@{
    ViewData["Title"] = "Compose Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-controller="Messages" asp-action="Send" method="post">
    <h4>Compose Message</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <br/>
        <input asp-for="UserName" id="UserName" name="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MessageBody"></label>
        <textarea asp-for="MessageBody" class="form-control"></textarea>
        <span asp-validation-for="MessageBody" class="text-danger"></span>
    </div>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Submit</button>

</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {


            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('userName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/userquery/queryuser/%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#UserName').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'users',
                display: 'userName',
                source: users
            }).on("typeahead:select", function (event, user) {
                $('#UserName').text = user.userName;
            });



        });
    </script>

}