
@{
    ViewData["Title"] = "ManagerUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Management</h1>
<div id="tabs">
    <ul>
        <li><a href="#user-tab">Manage Users</a></li>
        <li><a href="#lockout-tab">Lockedout Users</a></li>
    </ul>

    <div id="user-tab">
        <table id="users" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Date Of Birth</th>
                    <th>Phone Number</th>
                    <th>Lockout</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="lockout-tab">
        <table id="lockoutUsers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Lockout End</th>
                    <th>Release Lockout</th>
                </tr>
            </thead>
        </table>

    </div>

</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#tabs").tabs();


            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/admin/getallusers",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "userName"

                    },
                    {
                        data: "fullName"
                    },
                    {
                        data: "dateOfBirth"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-outline-danger js-lockout' data-user-id=" + data + ">Lockout</button>"
                        }
                    }

                ]


            });

            var suspendedtable = $("#lockoutUsers").DataTable({
                ajax: {
                    url: "/api/admin/getlockedoutusers",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "userName"

                    },
                    {
                        data: "fullName"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "lockoutEnd"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-outline-danger js-release' data-user-id=" + data + ">Release Lockout</button>"
                        }
                    }

                ]


            });




            $("#users").on("click", ".js-lockout", function () {
                var button = $(this);


                bootbox.prompt({
                    title: "Please select the date the user should be suspended until.",
                    inputType: 'date',
                    callback: function (result) {
                        $.ajax({
                            url: "/api/admin/lockoutuser/" + button.attr("data-user-id") + "/" + result + "/",
                            method: "PUT",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                suspendedtable.ajax.reload();
                            }

                        });
                    }
                });

            });

             $("#lockoutUsers").on("click", ".js-release", function () {
                var button = $(this);


                bootbox.confirm({
                    title: "Release Lockout",
                    message: "Are you sure you want to release the lockout of the user?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/admin/releaselockout/" + button.attr("data-user-id"),
                                method: "PUT",
                                success: function () {
                                    suspendedtable.row(button.parents("tr")).remove().draw();
                                    table.ajax.reload();
                                }

                            });


                        }
                    }
                });

            });




        });



    </script>



}
